{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productlarni o'chirish</title>
</head>
<body>
    <form action="{% url 'product-delete' product.pk %}" method="post">
        {% csrf_token %}
        {{ product.name }} - Productni o'chirmoqchimisiz?
        <button type='submit'>Ha o'chirilsin !</button>
    </form>
    <a href='{% url 'product-list' %}'>Ortga</a>
</body>
</html>
{% endblock content %}

